*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #F68D3C; 
  }
  
  html {
    background-color: #E5F3FD
  }
  
  .hero-title {
    text-align: center; 
    font-family: Raleway;
    font-size: 40px;
    margin: 5px;
    color: white;
    width: 50vw;
    background-color: var(--primary-color);
  }
  
  .header-bar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    padding: 0 ;
    margin: 0;
    background-color: white;
    width: 100%;
    z-index: 99999;
  }
  
  .nav-bar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
  } 
  
  img {
    width: 100%;
    object-fit: cover;
    width: 1000px; 
    height: 320px; 
  }
  
  .hero-img-container {
    position: relative;
    display: flex;
    width: 100%;
  }
  
  .welcome-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    text-align: center;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
  }
  
  .subscribe-text {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    text-align: center;
    font-weight: bolder;
    color: white;
     -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    top-margin: 30px;
    width: 100vw
  }
  
  #form {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input {
    width: 230px;
    height: 25px; 
    border: solid var(--primary-color) 2px;
  }
  
  .join-btn {
    width: 70px;
    color: var(--primary-color);
    background-color: white;
    border: solid var(--primary-color) 2px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bolder;
  }
  
  a {
    text-decoration: none;
    color: black
  }
  
  a:hover {
    font-weight: bolder
  }
  
  .nav-menu-item {
    list-style: none;
    padding: 2px 17px;
    text-align: center;
  }
  
  h1  {
    color: var(--primary-color);
    text-align: center;
    font-size: 30px;
    margin-top: 0.5rem; 
  }
  
  .grid {
    padding: 10px 100px;
    display:flex
  }
  
  img.local-image, img.family-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 140px;
    object-fit: cover;
  }
  
  .local-description, .family-description {
    display: flex;
    flex-direction: column;
    padding:10px;
  }
  
  h2 {
    font-size: 20px;
    color: black;
    text-align: left;
  }
  
  p.story-subtitle {
    font-size: 18px;
    font-weight: normal;
    color: black;
    text-align: left;
    padding-top: 5px
  }
  
  .cards-container {
    padding: 10px 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card {
    border: 0.1rem solid;
    width: 200px;
    height: 245px;
    background-color: white;
    border-radius: 5%;
    margin: 10px
  }
  
  #product-image {
    object-fit: cover;
    width: 180px;
    height: 170px;
    margin: 8px;
    border-radius: 5%;
  }
  
  .product-grid {
    display: flex;
    justify-content: space-between; 
  }
  
  #product-name {
    text-align: left;
    font-size: 20px;
    margin: -8px 8px;
  }
  
  #product-price {
    text-align: left;
    font-size: 16px;
    color: #414a4c;
    font-weight: normal;
    margin-top: 4px
  }
  
  #view-button {
    background-color: var(--primary-color);
    padding: 0 10px;
    border: none;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bolder;
    margin-right: 8px;
  }
  
  #more-button {
    background-color: var(--primary-color);
    border: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bolder;
    padding: 6px 18px;
    margin-bottom: 20px
  }
  
  p.process-subtitle {
    color: black;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 10px 100px;
  }
  
  iframe {
    margin-top: 20px
  }
  
  p.guarantee-subtitle {
    color: black;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 10px 100px
  }
  
  @media only screen and (max-width: 640px) {
    .hero-title {
    text-align: center; 
    font-family: Raleway;
    font-size: 26px;
    margin: 5px;
    color: white;
    width: 50vw;
    background-color: var(--primary-color);
  }
  }
  
  @media only screen and (max-width: 930px) {
    .grid {
      flex-wrap: wrap;
    }
  }
  
  @media only screen and (max-width: 390px) {
    .subscribe-text {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
     -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    top-margin: 30px;
    width: 1000px;
    }
  }
  
  @media only screen and (max-width: 610px) {
    .join-btn {
    width: 70px;
    color: var(--primary-color);
    background-color: white;
    border: solid var(--primary-color);
    margin-top: 5px;
    }
  }
  
  footer {
    margin-top: 20px;
    padding: 7px 20px;
    background-color: white;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-link {
    list-style: none;
    padding: 0 10px;
  }
  
  footer > span {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
      font-size: 0.9em;
      color: #444;